<% breadcrumb :intro %>
<section id="intro" class="container sub-main">
  <div class="row">
    <h1 class="col-12 page-title">제대로웹</h1>
    <p class="col-12 page-description">
    장인정신의 웹페이지 제작
    <p>
  </div>
  <div class="row">
    <article class="col-12 col-lg-6">
      <dl>
        <dt>설립년도</dt>
        <dd>2020. 11. 06</dd>
        <dt>대표</dt>
        <dd>정종호</dd>
        <dl>
    </article>
    <article class="col-12 col-lg-6">
    </article>
  </div>
</section>
