<% breadcrumb :service_intro %>
<div id="service2" class="intro_service">
  <section class="section1">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-offset-4 col-md-9 col-md-pull-1 col-xl-offset-0 col-xl-pull-0 col-xl-12">
          <h2 class="col-xs-12">서비스</h2>
          <p class="col-xs-12"></p>
          <p class="col-xs-12"></p>
        </div>
      </div>
    </div>
  </section>
  <section id="process" class="section2">
  </section>
</div>
